.Navbar {
  overflow: hidden;
  background-color: #929292; /* Background color */
  display: flex;
  flex-direction: row;
}

li.Navitem {
  margin: 1em;
  list-style-type: none;
}

a.Navitem {
  text-decoration: none;
  color: white;
}

.SequentialForm {
  display: flex;
  flex-direction: column;
}

.SequentialFormItem {
  margin: 1em;
}